{% extends 'layout.html'%}
{%load static%}
{%block title%}
    Lista de Articulos
{%endblock%}

{%block content%}
<h2 class="title"> Listado de articulos de mi blog</h2>
{{block.super}}
<div class="lista">
<ul>
    {%for article in articulos%}
    <li>
        <strong>Codigo:</strong> {{article.id}}
        <br>
        <strong>Titulo:</strong> {{article.title}}
        <br>
        <strong>Contenido:</strong> {{article.content}}
        <br>
        <strong>Estado:</strong> {{article.public}}
        <br>
        <strong>Fecha de creacion:</strong> {{article.create_date}}
        {%if article.public%}
            <strong class="Publicado">Publicado</strong>
        {%else%}
            <strong class="Privado"> Privado </strong>
        {%endif%}
        {% comment %} <span>{{article.create_date}}</span> {% endcomment %}
        <br>
        <a href="{% url 'borrar' article.id %}">Borrar</a>
        
    </li>
    <hr>
    {%endfor%}

</ul>
</div>
{%endblock%}