{%extends 'layout.html' %}
    {% block title %}
    Productos y Servicios
    {% endblock %}</title>



    <div id="content">
        {% block content %}
        <h1>Nuestros Productos y Servicios</h1>
        <h2>Productos:</h2>
        <ul>
            <li>Cerveza - Precio: $8.000</li>
            <li>Tacos - Precio: $22.500 </li>
            <li>Nachos - Precio: $15.000</li>
        </ul>
        <h2>Servicios:</h2>
        <ul>
            <li>Happy Hour de 5pm a 7pm - Descuento del 20% en todas las bebidas</li>
            <li>Eventos privados - Organizamos eventos especiales para grupos, ¡contáctanos para más información!</li>
            <li>Música en vivo los fines de semana</li>
        </ul>
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 La Cantina de Marlon</p>
    </footer>
</body>
</html>
