{%extends 'layout.html' %}
    <title>{% block title %}
        Quienes Somos
    {% endblock %}</title>
    <div id="content">
    {% block content %}
    <h1>Bienvenidos a La Cantina de Marlon</h1>
    <p> Somos mucho más que una cantina; somos un pedacito de México en el corazón de la ciudad, donde la buena música, las risas y los sabores auténticos se mezclan para crear una experiencia inigualable. Fundada por Marlon Gutiérrez, un apasionado de la cultura y la tradición mexicana, nuestra cantina lleva más de una década siendo el lugar de encuentro preferido de amigos, familias y viajeros en busca de momentos memorables.
        
        En La Cantina de Marlon, nos enorgullecemos de ofrecer una amplia selección de tequilas premium, mezcales artesanales y cervezas locales, así como una cocina inspirada en los sabores tradicionales de México. Desde nuestras clásicas botanas hasta nuestros platillos caseros, cada bocado está impregnado con el sabor y la pasión de nuestra tierra.
        
        Pero más allá de nuestras bebidas y alimentos, lo que realmente nos distingue es nuestra hospitalidad. Aquí, cada cliente es recibido como parte de nuestra familia, con una atención personalizada y un ambiente cálido y acogedor. Nuestro equipo, compuesto por expertos en mixología y amantes de la buena comida, está siempre listo para brindarte recomendaciones y asegurarse de que tu experiencia en La Cantina de Marlon sea inolvidable.
        
        Ya sea que estés buscando celebrar una ocasión especial, relajarte después de un largo día o simplemente disfrutar de una buena conversación, te invitamos a unirte a nosotros en La Cantina de Marlon, donde cada momento se convierte en una fiesta y cada visita es una experiencia única.
        
        ¡Ven y descubre el verdadero sabor de México en La Cantina de Marlon!</p>
    </div>
        {% endblock %}
