*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,Arial, Helvetica;
    text-decoration: none;

}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8fb6bb;

}


header{
    width: 1212px;
    height: 140px;
    background-color: #c9ddf6;
    margin:0px auto;
}


.logotipo h1{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-weight: lighter;
    color: #06748c;

}
.logotipo img{
    display: block;
    width: 100px;
    float: left;
    margin-top: 20px;
}

.logotipo{
    display: flex;
    justify-content: center; 
    width: 75%;
    height: 110px;
    margin: 0 auto;
    padding-top: 10px;
}

nav{
    width: 1250px;
    height: 40px;
    background-color: #0f5971 ;
    border: 1px solid #063a8e;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float:left;
}

nav ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #d1d4d6;
}

nav ul li a:hover{
    background: #04327d;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto 70px auto;
    
}

.izq{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.der{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno{
    display: block;
    width: 1210px;
    height: 10px;
    background:#2b2f30;
    float: left;
}
#content
{
    width: 1212px;
    min-height: 930px;
    /*margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;  (Otra forma de ajustar) */
    margin: 40px auto 30px auto;
    background-color: #0f5971;
}

.box
{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #dddd;
    margin: 0 auto;
}
.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}
footer{
    width: 1250px;
    background-color: #0f5971;
    border: 1px solid #0f5871a9;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(29, 11, 147, 0.612);
    margin: 0 auto;
    font-size: 20px;
}
.box p, .box h1,.box h2,.box h3,.box ul{
    margin-top: 5px;
    margin-bottom: 5px;
}
.box ul li{
    margin-left: 40px;
    margin-bottom: 5px;
}
.lista ul li{
    list-style: none;
    text-decoration: none;

}

.lista a{
    text-decoration: none;
    background-color: #2ba977;
    color: white;
    padding: 5px;
    font-weight: 700;
    border: 1px solid #444;
    border-radius: 5px;
    margin-top: 20px;
}
.lista hr{
    margin-top: 15px;
}
.lista ul a{
    display: block;
    width: 50px;
}
.publicado{
    color: green;
}

.Privado{
    color: red;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],textarea,select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23444444' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #2ba977;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #1d6448;
}

.rojo{
    color:red;
    box-shadow: 0px 0px 4px black ;
}
.message{
    padding: 20px;
    background: #2ba977;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}
.article-item{
    margin:20px 0px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    clear:both;

}
article-item .image{
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
}
article-item .image .img{
    width: 200px;
}