*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif,Arial, Helvetica;
    text-decoration: none;

}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #91a398;

}


header{
    width: 1212px;
    height: 140px;
    background-color: #1d1e1f;
    margin:0px auto;
}


.logotipo h1{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-weight: lighter;
    color: #2ba977;

}
.logotipo img{
    display: block;
    width: 80px;
    float: left;
    margin-top: 20px;
}

.logotipo{
    display: flex;
    justify-content: center; 
    width: 75%;
    height: 110px;
    margin: 0 auto;
    padding-top: 10px;
}

nav{
    width: 1250px;
    height: 40px;
    background-color: #1b1e1f ;
    border: 1px solid #333333;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float:left;
}

nav ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #d1d4d6;
}

nav ul li a:hover{
    background: #2ba977;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto 70px auto;
}

.izq{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.der{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno{
    display: block;
    width: 1210px;
    height: 10px;
    background:#2b2f30;
    float: left;
}
#content
{
    width: 1212px;
    min-height: 930px;
    /*margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;  (Otra forma de ajustar) */
    margin: 40px auto 30px auto;
    background-color: rgba(145, 136, 54, 0.692);
}
.box
{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #dddd;
    margin: 0 auto;
}
.title
{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 5px;
}

footer
{
    width: 1212px;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
}
.box p,.box h1,.box h2,.box h4,.box ul
{
    margin-top: 5px;
    margin-bottom: 5px;
 
}
.box ul li
{
    margin-left: 40px;
    margin-bottom: 5px;
}
.lista ul li
{
    list-style: none;
    text-decoration: none;
    color: brown;
}
.lista a
{
    text-decoration: none;
    background-color: #2ba977;
    color: white;
    padding: 5px;
    font-weight: 700;
    border: 1px solid #444;
    border-radius: 5px;
    margin-top: 20px;
}
.lista hr
{
    margin-top: 15px;
}

.lista ul a 
{
    display: block;
    width: 50px;
}

.box form label
.box form input
{
    display: block;
    padding: 5px;
    padding-left: 5px 5px 5px 0px;
}
.box form input [type="text"],
.box form textarea,
.box form select{
    width: 20%;
    margin-bottom: 10px;

}
.box form select{
    /* margin-bottom: 30px; */
    width: 70px;
}
.box form input[type="submit"],
.box form input[type="button"],
.box form button:hover{
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2ba977;
    color: white;
    font-weight:700;
    font-size: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    transition: 600ms all;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2ba977;
    color: white;
    font-weight:700;
    font-size: 15px;
    border: 1px solid #444;
    border-radius: 5px;
} 