{% extends 'layout.html' %}
{% load static %}
<title>{% block title %}Contacto{% endblock %}</title>

{% block content %}
    <h1>Contacto</h1>
    <form id="contact-form" method="POST">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <br>
        <label for="carrera">Carrera que desea aplicar:</label><br>
        <select id="carrera" name="carrera" required>
            <option value="">Seleccione una carrera</option>
            <option value="Carrera 1">Ingeniería Informática</option>
            <option value="Carrera 2">Administración de Empresas</option>
            <option value="Carrera 3">Psicología</option>
            <option value="Carrera 4">Medicina</option>
            <option value="Carrera 5">Derecho</option>
            <option value="Carrera 6">Arquitectura</option>
            <option value="Carrera 7">Contaduría Pública</option>
            <option value="Carrera 8">Enfermería</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>
        <br><br>
        <input type="submit" value="Enviar">
    </form>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    // Capturar el formulario
    const form = document.getElementById('contact-form');

    // Agregar evento de envío del formulario
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenir el envío del formulario por defecto

        // Enviar el formulario usando AJAX o realizar otras operaciones necesarias

        // Mostrar la notificación con SweetAlert
        swal("¡Gracias por tu mensaje!", "Serás contactado pronto para enviarle el plan de estudios.", "success")
            .then((value) => {
                // Redireccionar al usuario a la página de inicio u otra página según sea necesario
                window.location.href = "/";
            });
    });
</script>
{% endblock %}

