{% extends 'layout.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
  <h1>Recuperar Contraseña</h1>
  <br>
  <form method="POST" action="{% url 'contact' %}">
    {% csrf_token %}
    <label for="email">Correo Electrónico:</label><br>
    <input type="email" id="email" name="email" class="form-control"><br>
    <input type="submit" value="Enviar Instrucciones" class="btn btn-primary">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-primary" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  </form>
{% endblock %}
