{% extends 'layout.html' %}
{% load static %}%

{% block title %}
Hola Mundo 
{% endblock %}

{% block content %}
<h2 class="title">Noticia</h2> 
{{ block.super }}

<div class="card">
    <img src="{% static '/img/Edificio_ingenieria.png' %}" alt=" " width=50%>
</div>

    <div class="card-body">

        <h5 class="card-title">Inauguración del Nuevo Edificio de Ingeniería</h5>
        <p class="card-text">La Universidad CEICOTOL, comprometida con la excelencia académica y la formación integral de sus estudiantes, se enorgullece en anunciar la inauguración de su nuevo edificio de Ingeniería. Este moderno complejo está equipado con laboratorios de última generación y espacios de estudio innovadores, diseñados para inspirar y potenciar el aprendizaje de nuestros futuros ingenieros. Con esta nueva infraestructura, reafirmamos nuestro compromiso con la educación de calidad y la preparación de profesionales capaces de enfrentar los desafíos del mundo actual y contribuir al avance de la sociedad y la tecnología.</p>
        <a href="#" class="btn btn-primary">Leer más</a>
</div>
{% endblock %}


