{%extends 'layout.html' %}
{%load static%}

{% block content %}
<h1>Carreras Universitarias</h1>
<p>Explora nuestras carreras y descubre tu pasión:</p>
<ul>
    <li>
        <h2>Ingeniería Informática</h2>
        <p>Descripción: Este programa de ingeniería informática prepara a los estudiantes para diseñar, desarrollar y gestionar sistemas de información.</p>
        <p>Duración: 5 años</p>
        <p>Créditos: 160</p>
        <a href="#">Más información</a>
    </li>
    <li>
        <h2>Administración de Empresas</h2>
        <p>Descripción: Este programa de administración de empresas forma a profesionales capacitados para dirigir y gestionar organizaciones en el sector público y privado.</p>
        <p>Duración: 4 años</p>
        <p>Créditos: 140</p>
        <a href="#">Más información</a>
    </li>
    <li>
        <h2>Psicología</h2>
        <p>Descripción: La carrera de Psicología proporciona conocimientos sobre el comportamiento humano y las emociones, así como habilidades para la evaluación y el tratamiento psicológico.</p>
        <p>Duración: 5 años</p>
        <p>Créditos: 150</p>
        <a href="#">Más información</a>
    </li>
    <li>
        <h2>Medicina</h2>
        <p>Descripción: La carrera de Medicina forma a profesionales de la salud para diagnosticar, tratar y prevenir enfermedades, así como para promover la salud y el bienestar.</p>
        <p>Duración: 6 años</p>
        <p>Créditos: 200</p>
        <a href="#">Más información</a>
    </li>
    <li>
        <h2>Derecho</h2>
        <p>Descripción: El programa de Derecho proporciona conocimientos sobre el sistema legal y habilidades para analizar y resolver problemas legales.</p>
        <p>Duración: 5 años</p>
        <p>Créditos: 160</p>
        <a href="#">Más información</a>
    </li>
    <li>
        <h2>Arquitectura</h2>
        <p>Descripción: La carrera de Arquitectura forma a profesionales para diseñar y construir espacios habitables y funcionales, considerando aspectos estéticos, funcionales y técnicos.</p>
        <p>Duración: 5 años</p>
        <p>Créditos: 160</p>
        <a href="#">Más información</a>
    </li>
    <li>
        <h2>Contaduría Pública</h2>
        <p>Descripción: La carrera de Contaduría Pública prepara a profesionales para llevar registros financieros, realizar auditorías y asesorar en aspectos contables y fiscales.</p>
        <p>Duración: 4 años</p>
        <p>Créditos: 140</p>
        <a href="#">Más información</a>
    </li>
    <li>
        <h2>Enfermería</h2>
        <p>Descripción: La carrera de Enfermería forma a profesionales para brindar atención y cuidados de salud a individuos, familias y comunidades en diferentes contextos.</p>
        <p>Duración: 4 años</p>
        <p>Créditos: 140</p>
        <a href="#">Más información</a>
    </li>
{% endblock %}
